<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>States App</title>
</head>
<body>
    <h1>Welcome to the State's Visited Directory!</h1>

    <img
    class="state-map"
    src='./assets/Map.jpg'
    alt="US Map"
  />
    <p>An app for adding states you've visited.</p>
    <a class="states-index-link" href="/states">Browse States</a>
</body>
</html>