<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Edit Page</title>
</head>
<body>
        <h1>Edit <%= state.name %></h1>
        <form action="/states/<%=state._id%>?_method=PUT" method="POST">
          <label for="name">Name:</label>
          <input type="text" name="name" value="<%= state.name %>" />

          <label for="flower">Flower:</label>
          <input type="text" name="flower" id="flower" />

          
          <label for="visited">Visited?</label>
          <input type="checkbox" name="visited" <% if (state.visited) { %>checked<% } %> >
          <button type="submit">Update State</button>
        </form>
        <a class="states-index-link" href="/states">
            <div class="index-link-text">Back to States</div>
          </a>
</body>
</html>